* {
    margin: 0;
    padding: 0;
    }

    #logo {
        width: 15%;
        height: 15%;
    }

    .header-pai {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    nav li {
        display: inline;
        padding: 20px;
    }

    nav a {
        text-transform: uppercase;
        color: white;
        font-size: 30px;
        text-decoration: none;
        font-weight: lighter;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    nav a:hover {
        color: palevioletred;
        text-decoration: underline;
    }
    
    #banner {
    width: 100%;
    }
    
    h1 {
        text-align: center;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
       
    }
    
    body {
        background: rgb(255, 150, 191);
        background: radial-gradient(circle, rgb(255, 65, 113) 0%, rgb(207, 30, 65) 100%);
    }
    
    .texto {
    background-color: #cccccc;
    font-size: 35px;
    text-align: center;
    }

    h2 {
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-size: 40px;
        padding: 1%;
    }

    .servico {
     display: flex;  
     width: 100vw; 
     height: 300px;
     justify-content: space-evenly;
     align-items: center;
     flex-wrap: wrap;
    }

    .item-servico {
        display: flex;
        width: 15%;
        height: 290px;
        border: 1px solid hotpink;
        color: white;
        justify-content: center;
        align-items: flex-start;
        border-radius: 15px;
        text-transform: uppercase;
        font-size: 40px;
        box-shadow: 5px 5px #pink;
    }

    #item1 {
        background-image: url(https://images.pexels.com/photos/16156996/pexels-photo-16156996/free-photo-of-borrao-mancha-nevoa-doces.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        background-size: cover;
    }

    #item2 {
        background-image: url(https://images.pexels.com/photos/7167288/pexels-photo-7167288.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        background-size: cover;
    }

    #item3 {
        background-image: url(https://images.pexels.com/photos/2531546/pexels-photo-2531546.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
        background-size: cover;
    }